DB_ROOT_PATH="./data/ambrosia" # this directory should be the parent of ambrosia
DATA_MODE="ambrosia"
INDEX_SERVER_HOST='localhost'
INDEX_SERVER_PORT=12345


OPENAI_API_KEY=
GCP_PROJECT=''
GCP_REGION='us-central1'
GCP_CREDENTIALS=''
GOOGLE_CLOUD_PROJECT=''